command
pip_list

__pycache__/
*.py[cod]
*$py.class
.idea/

stable-diffusion/CompVis
stable-diffusion/src
stable-diffusion/latent_diffusion.egg-info


3DPortraitGAN_pyramid/models/*.pkl
3DPortraitGAN_pyramid/models/*.ckpt
3DPortraitGAN_pyramid/models/*.pt
3DPortraitGAN_pyramid/models/*.json
!3DPortraitGAN_pyramid/models/.gitkeep
3DPortraitGAN_pyramid/out
3DPortraitGAN_pyramid/smplx_models/smpl/*.pkl
!3DPortraitGAN_pyramid/smplx_models/.gitkeep
3DPortraitGAN_pyramid/training-runs

stable-dreamfusion-3DPortrait/pretrained
stable-dreamfusion-3DPortrait/output
stable-dreamfusion-3DPortrait/smplx_models
stable-dreamfusion-3DPortrait/transfer_data

command.py
temp.py

*.pkl
*.pth
*.pt
*.pth.tar
./data_processing/data/J_regressor_extra.npy